 .u-section-1 {
  background-repeat: no-repeat, no-repeat;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/ChiefBannerPhoto1.webp');
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 410px;
}

.u-section-1 .u-image-1 {
  width: 449px;
  height: 249px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%, 50% 50%;
    background-size: cover, 120%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 338px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 259px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 194px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 62px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 189px;
  }
} .u-section-2 {
  min-height: 318px;
}

.u-section-2 .u-sheet-1 {
  min-height: 424px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 45px;
  margin-bottom: 45px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 334px;
}

.u-section-2 .u-container-layout-1 {
  padding: 28px 0 86px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  margin: 90px 0 0;
}

.u-section-2 .u-shape-1 {
  width: 80px;
  height: 3px;
  margin: 15px auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 334px;
  filter: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0 16px;
}

.u-section-2 .u-text-2 {
  margin: 0 22px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 259px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 435px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 37px;
    margin-bottom: 3px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 395px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 55px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 115px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 395px;
    background-position: 50% 50%;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 66px;
  }

  .u-section-2 .u-sheet-1 {
    min-height: 489px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 16px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 473px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 159px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 7px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 473px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 89px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 466px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-layout-cell-1 {
    min-height: 146px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 5px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 16px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 624px;
}

.u-section-3 .u-text-1 {
  margin: 23px auto 0;
}

.u-section-3 .u-text-2 {
  margin: 10px auto 0;
}

.u-section-3 .u-list-1 {
  margin-bottom: 37px;
  margin-top: 37px;
}

.u-section-3 .u-repeater-1 {
  --gap: 10px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 435px;
}

.u-section-3 .u-container-layout-1 {
  padding: 10px;
}

.u-section-3 .u-image-1 {
  --radius: 10px;
  width: 53px;
  height: 53px;
  margin: 0 auto;
}

.u-section-3 .u-text-3 {
  margin: 10px -10px 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 10px;
}

.u-section-3 .u-image-2 {
  --radius: 10px;
  width: 53px;
  height: 53px;
  margin: 0 auto;
}

.u-section-3 .u-text-4 {
  margin: 10px -10px 0 auto;
}

.u-section-3 .u-container-layout-3 {
  padding: 10px;
}

.u-section-3 .u-image-3 {
  --radius: 10px;
  width: 53px;
  height: 53px;
  margin: 0 auto;
}

.u-section-3 .u-text-5 {
  margin: 10px -10px 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 10px;
}

.u-section-3 .u-image-4 {
  --radius: 10px;
  width: 53px;
  height: 53px;
  margin: 0 auto;
}

.u-section-3 .u-text-6 {
  margin: 10px -10px 0 auto;
}

.u-section-3 .u-container-layout-5 {
  padding: 10px;
}

.u-section-3 .u-image-5 {
  --radius: 10px;
  width: 53px;
  height: 53px;
  margin: 0 auto;
}

.u-section-3 .u-text-7 {
  margin: 10px -10px 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding: 10px;
}

.u-section-3 .u-image-6 {
  --radius: 10px;
  width: 53px;
  height: 53px;
  margin: 0 auto;
}

.u-section-3 .u-text-8 {
  margin: 10px -10px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-2 {
    margin-top: 63px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 20px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.666666666666667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.666666666666667px));
    min-height: 359px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 926px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 37px;
    margin-left: 70px;
    margin-right: 70px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 619px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1269px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 758px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1588px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 20px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1157px;
}

.u-section-4 .u-text-1 {
  width: 842px;
  margin: 45px auto 0;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  width: 840px;
  margin: 19px auto 0;
}

.u-section-4 .u-group-1 {
  width: 791px;
  min-height: 583px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --radius: 20px;
  margin: 45px auto 0 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-3 {
  margin: 33px 184px 0 auto;
}

.u-section-4 .u-group-2 {
  width: 179px;
  height: auto;
  --radius: 10px;
  min-height: 51px;
  margin: -65px auto 0 94px;
}

.u-section-4 .u-text-4 {
  font-weight: 700;
  margin: 11px auto -19px 13px;
}

.u-section-4 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 33px 528px 0 25px;
}

.u-section-4 .u-image-1 {
  width: 42px;
  height: 42px;
  margin: 33px auto 0 412px;
}

.u-section-4 .u-image-2 {
  width: 42px;
  height: 42px;
  margin: -42px auto 0 25px;
}

.u-section-4 .u-text-6 {
  margin: -41px 412px 0 79px;
}

.u-section-4 .u-text-7 {
  margin: -86px 25px 0 466px;
}

.u-section-4 .u-image-3 {
  width: 42px;
  height: 42px;
  margin: 25px auto 0 412px;
}

.u-section-4 .u-image-4 {
  width: 42px;
  height: 42px;
  margin: -42px auto 0 25px;
}

.u-section-4 .u-text-8 {
  margin: -41px 412px 0 79px;
}

.u-section-4 .u-text-9 {
  margin: -86px 25px 0 466px;
}

.u-section-4 .u-image-5 {
  width: 42px;
  height: 42px;
  margin: 25px auto 0 412px;
}

.u-section-4 .u-image-6 {
  width: 42px;
  height: 42px;
  margin: -42px auto 0 25px;
}

.u-section-4 .u-text-10 {
  margin: -41px 25px 0 466px;
}

.u-section-4 .u-text-11 {
  margin: -86px 411px 0 80px;
}

.u-section-4 .u-text-12 {
  font-style: italic;
  margin: 25px auto 0 25px;
}

.u-section-4 .u-group-3 {
  width: 310px;
  min-height: 615px;
  height: auto;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --radius: 20px;
  margin: -615px 0 0 auto;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-group-4 {
  width: 179px;
  height: auto;
  --radius: 10px;
  min-height: 51px;
  margin: 45px auto 0;
}

.u-section-4 .u-text-13 {
  font-weight: 700;
  margin: 11px auto -19px 13px;
}

.u-section-4 .u-text-14 {
  margin: 11px 11px 0;
}

.u-section-4 .u-text-15 {
  margin: 17px 11px 0;
}

.u-section-4 .u-text-16 {
  width: 840px;
  margin: 75px auto 0;
}

.u-section-4 .u-btn-1 {
  margin: 25px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1540px;
  }

  .u-section-4 .u-group-1 {
    min-height: 615px;
    margin-top: 40px;
    margin-left: auto;
    height: auto;
  }

  .u-section-4 .u-group-2 {
    height: auto;
  }

  .u-section-4 .u-group-3 {
    width: 791px;
    min-height: 445px;
    margin-top: 29px;
    margin-right: auto;
    height: auto;
  }

  .u-section-4 .u-group-4 {
    height: auto;
  }

  .u-section-4 .u-text-16 {
    width: auto;
    margin-top: 45px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 29px;
    margin-bottom: 39px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1905px;
  }

  .u-section-4 .u-text-1 {
    width: 720px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-group-1 {
    min-height: 949px;
    margin-top: 50px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 20px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
    margin-right: 457px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 20px;
    margin-right: 377px;
    margin-left: 44px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
    margin-left: 420px;
  }

  .u-section-4 .u-text-8 {
    margin-top: 20px;
    margin-right: 377px;
    margin-left: 44px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 0;
    margin-left: 420px;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-top: 20px;
    margin-right: 0;
    margin-left: 420px;
  }

  .u-section-4 .u-text-11 {
    width: auto;
    margin-top: -87px;
    margin-right: 376px;
    margin-left: 45px;
  }

  .u-section-4 .u-text-12 {
    width: auto;
    margin-top: 98px;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-4 .u-group-3 {
    margin-top: 33px;
    min-height: 426px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-16 {
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 50px;
    margin-bottom: 49px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 138px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 302px;
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 241px;
    margin-left: 0;
  }

  .u-section-4 .u-text-7 {
    margin-top: 20px;
    margin-left: 240px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 241px;
    margin-left: 0;
  }

  .u-section-4 .u-text-9 {
    margin-top: 20px;
    margin-left: 240px;
  }

  .u-section-4 .u-text-10 {
    margin-left: 240px;
  }

  .u-section-4 .u-text-11 {
    margin-top: 20px;
    margin-right: 241px;
    margin-left: 0;
  }

  .u-section-4 .u-text-12 {
    margin-right: 0;
    margin-left: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2491px;
  }

  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-group-1 {
    min-height: 1470px;
    margin-top: 38px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 29px;
    margin-right: auto;
  }

  .u-section-4 .u-group-2 {
    width: 152px;
    margin-top: 18px;
    margin-left: auto;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin: 0 10px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 25px;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    margin-top: 194px;
    margin-left: auto;
  }

  .u-section-4 .u-image-2 {
    margin-top: -211px;
    margin-left: auto;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-top: 25px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
    margin-top: 92px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 194px;
    margin-left: auto;
  }

  .u-section-4 .u-image-4 {
    margin-top: -211px;
    margin-left: auto;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-top: 25px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
    margin-top: 92px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-4 .u-image-5 {
    margin-top: 196px;
    margin-left: auto;
  }

  .u-section-4 .u-image-6 {
    margin-top: -213px;
    margin-left: auto;
  }

  .u-section-4 .u-text-10 {
    margin-top: 196px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-4 .u-text-11 {
    margin-top: -245px;
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-4 .u-text-12 {
    margin: 207px 13px -1px;
  }

  .u-section-4 .u-group-3 {
    margin-top: 25px;
    min-height: 507px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 26px;
  }

  .u-section-4 .u-group-4 {
    width: 152px;
    margin-top: 25px;
  }

  .u-section-4 .u-text-13 {
    width: auto;
    margin: 0 2px;
  }

  .u-section-4 .u-text-14 {
    width: auto;
    margin-top: 25px;
  }

  .u-section-4 .u-text-15 {
    width: auto;
    margin-top: 25px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 29px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 206px;
}

.u-section-5 .u-text-1 {
  margin: 52px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 20px auto 52px;
}